@use "../abstracts/index" as *;

.tf-btn {
    height: 44px;
    font-size: 18px;
    @include flex-center();
    padding: 0 32px;
    border-radius: 999px;
    background-color: var(--On-surface);
    color: var(--White-light);
    width: max-content;
    transition: 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    font-size: 16px;
    list-style: 26px;
    gap: 8px;
    font-weight: 600;
    span {
        white-space: nowrap;
    }
    i {
        font-size: 12px;
    }
    @include res(md, min) {
        height: 50px;
    }
    &.btn-white {
        background-color: var(--White-light);
        color: var(--On-surface);
    }
    @include res(md) {
        padding: 0 16px;
        height: 36px;
    }
}

.animate-hover-btn {
    position: relative;
    overflow: hidden;
    @include transition3();
    &:after {
        background-image: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.3),
            transparent
        );
        content: "";
        left: 150%;
        position: absolute;
        top: 0;
        bottom: 0;
        transform: skew(-20deg);
        width: 200%;
    }
    &:hover {
        -webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.15);
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
        &:after {
            animation: shine 0.75s cubic-bezier(0.01, 0.56, 1, 1);
        }
    }
}

.btn-switch-text {
    > span {
        display: inline-flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
    .btn-double-text {
        transition: opacity 0.3s, transform 0.6s;
        transition-timing-function: cubic-bezier(0.15, 0.85, 0.31, 1);
        &:before {
            content: attr(data-text);
            display: inline-block;
            position: absolute;
            white-space: nowrap;
            top: 50%;
            opacity: 0;
            left: 50%;
            transform: translate(-50%, 100%);
            transition: opacity 0.5s, transform 0.8s;
            transition-timing-function: cubic-bezier(0.15, 0.85, 0.31, 1);
        }
    }
    &:hover,
    &:active {
        .btn-double-text {
            transform: translateY(-200%);
            &:before {
                transform: translate(-50%, 150%);
                opacity: 1;
            }
        }
    }
}

@keyframes shine {
    100% {
        left: -200%;
    }
}
